<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ダッシュボード</title>
  </head>
  <body>
    <h1>ダッシュボード</h1>
    <p>ようこそ <%= user.name %>さん！</p>
    <a href="/">ログアウト</a>
  </body>
</html>
