<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ログイン</title>
  </head>
  <body>
    <h1>ログイン</h1>
    <form method="POST" action="/login">
      <div>
        <label for="email">メールアドレス</label>
        <input type="email" name="email" required>
      </div>
      <div>
        <label for="password">パスワード</label>
        <input type="password" name="password" required>
      </div>
      <button type="submit">ログイン</button>
    </form>
  </body>
</html>